table, th, td {
    border: 1px solid white;
    color: white;

  }
  table, th {
    text-align: center;
    font-size: x-large;
  }
  table {width: 100%;}

tr:nth-child(even) {
    background: green;
}
h1{
    color: green;
   text-align: center;
}
body{
    background-color: black;
}
table{
  border-collapse: separate;
  border-spacing: 0px;
}
td + td, th + th {
  border-left: none;
}
tr + tr td, tr + tr th {
  border-top: none;
}
th .black-square {
  background-color: black;
  border-color: black;
}