body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-table;
  margin: 40px;
}

table {
  position: relative;
  margin: auto;
  caption-side: bottom;
  border-collapse: collapse;
  border-spacing: 0px;
  background-color: black;
}

thead {
  background-color: black;
  text-align: center;
  color: white;
}

th,td {
  margin: 0;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

/*.packages {
  background-color: black;
  color: white;
}*/

tbody th,td {
  border: solid .5px white;
}

tbody tr:nth-child(even) {
  background-color: green;
}
table, th, td {
    color: white;

  }
  table, th {
    text-align: center;
    font-size: x-large;
  }
td + td, th + th {
  border-left: none;
}
tr + tr td, tr + tr th {
  border-top: none;
}


