header, h1{
    align-content: center;
    background-color: #777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    margin: 1rem;
}
section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
}
img{
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
}
footer{
    align-content: center;
    background-color: #777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 1rem;
    margin: 1rem;
}