img{
    border: 1px solid #333;
    padding: 2px;
    filter: blur(0em);
    transition: filter 0.5s;
    margin: 20px auto;
}
main h1{
  text-align:  center;
  margin: 20px auto;
}
/*img[src] {
    filter: blur(0.2em);
  }*/
  img {
    display: block;
    align-items: center;

  }