/*.grid-header{
  display: grid;

}*/
/* styling for hamburger button START*/
nav ul {display: none;}
nav ul.open {display: block;}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color:#a29c9b
}
nav {
  background-color: #a62639;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav  ul{
  display: none;
}
nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: #a29c9b;
  border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li a:hover {
  background-color: rgba(0,0,0,0.3);
  color: white;
}
nav ul li.active a {
  background-color: rgba(0,0,0,0.2);
}
   
/* styling for hamburger button END*/

header{
  text-align: center;
}
.grid-header{
  background-color: #511c29;
  color: #a29c9b;
  display: grid;
}
.logo, img{
  padding-top: 10px;
	align-items: center;
	margin-left: 1rem;
}
.headings{
  display: flex;
	flex-direction: column;
	margin-left: .5rem;
}
header, .header1 {
	font-size: 1.5rem;
  align-content: right;
  padding-left: 20px;
}

.social {
	float: right;
}

  footer{
    background-color: #511c29;
    color: #a29c9b;
    text-align: center;
    display: grid;
    font-size: 20px;
  }
  footer img{
    padding: 10px;
  }
  iframe{
    border: #a29c9b;
    padding: 5px;
  }
  .year1{
    padding: 10px;
    padding-bottom: 20px;
  }
  
  /* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  body {
	font-family:'Raleway', sans-serif ;
}

/* main section boxing START*/
main{
  display: grid;
  flex-direction: column;
  background-color: #a29c9b;
  row-gap: 50px;
}


main div{
  border-style: solid;
  padding: 50px 20px;
}
main .spot1,.spot2{
  border-style: solid;
  padding: 50px 20px;
  border-collapse: collapse ; 
}
@media only screen and (max-width: 460px) {
  main .join{
    display: none;
  }

}
  

