
header{
    background-color: #424b54;
    color: #c5baaf;
    text-align: center;

}

/* lesson #2 - design principles START---------
@media only screen and (max-width: 600px) {
    h3, h4, h5{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
    }*/
    nav a{
        color:#c5baaf;
    }
    
    .footer-grid {
        display: grid;
        background-color: #424b54;
        color: #c5baaf;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        font-size: 20px;
    
    
    }
    main{
        padding: 20px;
        max-width: 1600px;
    }
    section{
        padding: 10px;
        border-style: solid;
        border-width: 2px;
        border-radius: 20px;
        justify-content: center;
        width: min-content;
        font-family: 'Dosis', sans-serif;  
        
    }
    body {
      background-color: #c5baaf;
      font-family: 'Dosis', sans-serif;
      
    }
    img{
        border-style: solid;

    }
  
 p, h3, h4, h5{
    font-family: 'Dosis', sans-serif; 
    font-size: 30px;
    text-align: center;
}
main, .design-principles-grid{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    

}
@media only screen and (min-width: 37.5em) {
    main, .design-principles-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    h1 {
        font-size: 4.5rem;
        text-align: center;
        border: 6px solid #c5baaf;
    }
}
/* large view....*/
@media only screen and (min-width: 60em) {
    main, .design-principles-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
    header{
        font-size: 10px;
    }

}